In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Police set but without guard rails

In [2]:
result = pd.read_csv(r'D:\repos\dataengineering\yg821jf8611_il_statewide_2020_04_01.csv\il_statewide_2020_04_01.csv', index_col=0)

C:\Users\bjorn.bergdahl\AppData\Local\Temp\ipykernel_25664\659952621.py:1: DtypeWarning: Columns (3,4,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  result = pd.read_csv(r'D:\repos\dataengineering\yg821jf8611_il_statewide_2020_04_01.csv\il_statewide_2020_04_01.csv', index_col=0)

In [19]:
result.size
result.shape

result.sample(10)

,date,time,location,beat,subject_age,subject_race,subject_sex,department_id,department_name,type,...,search_person,search_vehicle,search_basis,reason_for_stop,vehicle_make,vehicle_year,raw_DriverRace,raw_ReasonForStop,raw_TypeOfMovingViolation,raw_ResultOfStop
raw_row_number,,,,,,,,,,,,,,,,,,,,,
11016035,2017-12-07,18:25:00,60619,813,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,NaN,License Plate/Registration,JEEP,2002.0,2,3,0,3
12567574,2017-01-15,13:21:00,62226.0,NaN,NaN,white,male,13771.0,SWANSEA POLICE,vehicular,...,False,False,NaN,Moving Violation: Speed,HONDA,2011.0,1,1,1,3
6278194,2015-02-21,19:54:00,50112,1,NaN,white,male,13245.0,ADDISON POLICE,vehicular,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,Mazda,2011.0,1,1,4,1
3034359,2013-11-26,09:17:00,33549,13,NaN,white,male,13991.0,ILLINOIS STATE POLICE,vehicular,...,False,False,NaN,Moving Violation: Speed,CHEV,2006.0,1,1,1,1
10102539,2016-02-28,17:33:00,60496,0201,NaN,black,female,12997.0,RIVERSIDE POLICE,vehicular,...,False,False,NaN,License Plate/Registration,NaN,2002.0,2,3,0,1
9560870,2016-12-30,22:06:00,60435,12,NaN,hispanic,male,13945.0,JOLIET POLICE,vehicular,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,DODGE,2012.0,4,1,4,1
3268663,2013-01-03,10:02:00,60431,WCOV,NaN,white,female,13945.0,JOLIET POLICE,vehicular,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,DODGE,2004.0,1,1,4,1
12449849,2017-04-19,14:13:00,60118,4,NaN,white,female,12992.0,SCHAUMBURG POLICE,vehicular,...,False,False,NaN,Moving Violation: Speed,HYUNDAI,2006.0,1,1,1,1
5363811,2014-01-11,19:22:00,60436,S15M,NaN,black,female,13945.0,JOLIET POLICE,vehicular,...,False,False,NaN,License Plate/Registration,CHEVROLET,2006.0,2,3,0,2
7223617,2015-11-22,00:09:00,62269,11,NaN,white,male,13991.0,ILLINOIS STATE POLICE,vehicular,...,False,False,NaN,Moving Violation: Speed,VOLK,2011.0,1,1,1,1

In [4]:
result.columns

Index(['date', 'time', 'location', 'beat', 'subject_age', 'subject_race',
       'subject_sex', 'department_id', 'department_name', 'type', 'violation',
       'citation_issued', 'warning_issued', 'outcome', 'contraband_found',
       'contraband_drugs', 'contraband_weapons', 'search_conducted',
       'search_person', 'search_vehicle', 'search_basis', 'reason_for_stop',
       'vehicle_make', 'vehicle_year', 'raw_DriverRace', 'raw_ReasonForStop',
       'raw_TypeOfMovingViolation', 'raw_ResultOfStop'],
      dtype='object')

In [5]:
result.head()

,date,time,location,beat,subject_age,subject_race,subject_sex,department_id,department_name,type,...,search_person,search_vehicle,search_basis,reason_for_stop,vehicle_make,vehicle_year,raw_DriverRace,raw_ReasonForStop,raw_TypeOfMovingViolation,raw_ResultOfStop
raw_row_number,,,,,,,,,,,,,,,,,,,,,
1,2012-09-15,10:20:00,60641,1611,NaN,hispanic,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,NaN,Moving Violation: Traffic Sign or Signal,CHRYSLER,2004.0,4,1,4,1
2,2012-09-15,10:20:00,60189,1912,NaN,white,female,13194.0,CHICAGO POLICE,vehicular,...,False,False,NaN,Moving Violation: Lane Violation,LEXUS,1999.0,1,1,2,1
3,2012-09-15,10:20:00,60638,815,NaN,hispanic,female,13194.0,CHICAGO POLICE,vehicular,...,False,False,NaN,Moving Violation: Other,WHITE GMC (BEGIN. MODEL YEAR 1988),2010.0,4,1,6,1
4,2012-09-15,10:20:00,60638,925,NaN,white,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,NaN,Moving Violation: Other,CHEVROLET,2008.0,1,1,6,1
5,2012-09-15,10:21:00,NaN,2032,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,NaN,Moving Violation: Other,DODGE,2007.0,2,1,6,1

In [6]:
result.dtypes

date                          object
time                          object
location                      object
beat                          object
subject_age                  float64
subject_race                  object
subject_sex                   object
department_id                float64
department_name               object
type                          object
violation                     object
citation_issued                 bool
warning_issued                  bool
outcome                       object
contraband_found              object
contraband_drugs              object
contraband_weapons            object
search_conducted              object
search_person                 object
search_vehicle                object
search_basis                  object
reason_for_stop               object
vehicle_make                  object
vehicle_year                 float64
raw_DriverRace                 int64
raw_ReasonForStop              int64
raw_TypeOfMovingViolation      int64
raw_ResultOfStop               int64
dtype: object

In [7]:
result.count()

date                         12748173
time                         12737036
location                     12624518
beat                         12518024
subject_age                      8316
subject_race                 12747428
subject_sex                  12747842
department_id                12748173
department_name              12748173
type                         12748173
violation                    12748163
citation_issued              12748173
warning_issued               12748173
outcome                      12748172
contraband_found               574565
contraband_drugs               574519
contraband_weapons             574556
search_conducted             12731391
search_person                12731391
search_vehicle               12731256
search_basis                   189648
reason_for_stop              12748163
vehicle_make                 12408765
vehicle_year                 12735863
raw_DriverRace               12748173
raw_ReasonForStop            12748173
raw_TypeOfMovingViolation    12748173
raw_ResultOfStop             12748173
dtype: int64

In [8]:
result.isnull().sum()

date                                0
time                            11137
location                       123655
beat                           230149
subject_age                  12739857
subject_race                      745
subject_sex                       331
department_id                       0
department_name                     0
type                                0
violation                          10
citation_issued                     0
warning_issued                      0
outcome                             1
contraband_found             12173608
contraband_drugs             12173654
contraband_weapons           12173617
search_conducted                16782
search_person                   16782
search_vehicle                  16917
search_basis                 12558525
reason_for_stop                    10
vehicle_make                   339408
vehicle_year                    12310
raw_DriverRace                      0
raw_ReasonForStop                   0
raw_TypeOfMovingViolation           0
raw_ResultOfStop                    0
dtype: int64

OK so far it´s similar
But now we want only records with a contraband found.

In [20]:
contraband = result.loc[result['contraband_found'].isnull()==False]

In [21]:
contraband.head()

,date,time,location,beat,subject_age,subject_race,subject_sex,department_id,department_name,type,...,search_person,search_vehicle,search_basis,reason_for_stop,vehicle_make,vehicle_year,raw_DriverRace,raw_ReasonForStop,raw_TypeOfMovingViolation,raw_ResultOfStop
raw_row_number,,,,,,,,,,,,,,,,,,,,,
36,2012-01-01,01:13:00,60653,724,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,True,True,consent,License Plate/Registration,BUICK,2004.0,2,3,0,3
37,2012-01-01,01:14:00,60707,2531,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,True,True,NaN,License Plate/Registration,CADILLAC,2000.0,2,3,0,1
80,2012-01-01,07:33:00,60608,924,NaN,hispanic,male,13194.0,CHICAGO POLICE,vehicular,...,True,True,NaN,Moving Violation: Traffic Sign or Signal,CHEVROLET,1997.0,4,1,4,1
89,2012-01-01,09:05:00,60609,914,NaN,hispanic,male,13194.0,CHICAGO POLICE,vehicular,...,True,True,consent,Moving Violation: Traffic Sign or Signal,CHEVROLET,1984.0,4,1,4,1
100,2012-01-01,10:30:00,60612,1532,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,True,True,consent,Moving Violation: Other,CHEVROLET,2011.0,2,1,6,1

In [11]:
contraband.isnull().sum()

date                              0
time                            276
location                       2603
beat                          11671
subject_age                  574560
subject_race                      9
subject_sex                       7
department_id                     0
department_name                   0
type                              0
violation                         0
citation_issued                   0
warning_issued                    0
outcome                           0
contraband_found                  0
contraband_drugs                 46
contraband_weapons                9
search_conducted                  0
search_person                     0
search_vehicle                    0
search_basis                 386191
reason_for_stop                   0
vehicle_make                  28841
vehicle_year                    514
raw_DriverRace                    0
raw_ReasonForStop                 0
raw_TypeOfMovingViolation         0
raw_ResultOfStop                  0
dtype: int64

In [22]:
cleaned_contra = contraband.drop(['raw_DriverRace', 'raw_ReasonForStop', 'raw_TypeOfMovingViolation','raw_ResultOfStop'], axis = 'columns')

cleaned_contra.head()

,date,time,location,beat,subject_age,subject_race,subject_sex,department_id,department_name,type,...,contraband_found,contraband_drugs,contraband_weapons,search_conducted,search_person,search_vehicle,search_basis,reason_for_stop,vehicle_make,vehicle_year
raw_row_number,,,,,,,,,,,,,,,,,,,,,
36,2012-01-01,01:13:00,60653,724,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,False,True,True,True,consent,License Plate/Registration,BUICK,2004.0
37,2012-01-01,01:14:00,60707,2531,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,True,False,True,True,True,True,NaN,License Plate/Registration,CADILLAC,2000.0
80,2012-01-01,07:33:00,60608,924,NaN,hispanic,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,False,True,True,True,NaN,Moving Violation: Traffic Sign or Signal,CHEVROLET,1997.0
89,2012-01-01,09:05:00,60609,914,NaN,hispanic,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,False,True,True,True,consent,Moving Violation: Traffic Sign or Signal,CHEVROLET,1984.0
100,2012-01-01,10:30:00,60612,1532,NaN,black,male,13194.0,CHICAGO POLICE,vehicular,...,False,False,False,True,True,True,consent,Moving Violation: Other,CHEVROLET,2011.0

Well any prejudices?

In [13]:
result[result['subject_race'] == 'white'].search_conducted.value_counts(normalize=True)

search_conducted
False    0.963831
True     0.036169
Name: proportion, dtype: float64

In [14]:
print('blacks')

result[result['subject_race'] == 'black'].search_conducted.value_counts(normalize=True)

blacks

search_conducted
False    0.931292
True     0.068708
Name: proportion, dtype: float64

In [15]:
result.groupby('subject_race').search_conducted.value_counts(normalize=True)

subject_race            search_conducted
asian/pacific islander  False               0.984643
                        True                0.015357
black                   False               0.931292
                        True                0.068708
hispanic                False               0.937724
                        True                0.062276
other                   False               0.964709
                        True                0.035291
white                   False               0.963831
                        True                0.036169
Name: proportion, dtype: float64

In [16]:
output_contra = cleaned_contra.groupby('subject_race').contraband_found.value_counts(normalize=True)
output_contra

subject_race            contraband_found
asian/pacific islander  False               0.813277
                        True                0.186723
black                   False               0.779934
                        True                0.220066
hispanic                False               0.845401
                        True                0.154599
other                   False               0.844551
                        True                0.155449
white                   False               0.782014
                        True                0.217986
Name: proportion, dtype: float64

Any other metrics?
Age? Sex? Car age? (And how would you handle that one?)
Visualize?